<% content_for :title do %>OpsManager CI<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="freshdesk" data-view="List" data-unordered="true" data-title="Tickets" data-moreinfo="Helpdesk tickets"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="opsmanager-fast" data-view="Build" data-unordered="true" data-server="opsci"></div>
    </li>
  </ul>
</div>
